.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
}

.item {
  width: 100%;
  max-width: 360px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
