.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  max-width: 408px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
}

.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 8px;
  background: #4e75ff;
  cursor: pointer;
}

.login-form button:hover,
.login-form button:focus {
  background: #6c8cff;
}
